body {
  font-family: arial, sans-serif;
  color: #404040;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.3;
  min-width: 1000px;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #2e3b4e
}

.logo {
  float: left;
  margin: 34px 0 10px 5px;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  text-align: right;
}

.main-nav ul li {
  display: inline-block;
  margin: 46px 71px 0 0;
  padding: 0;
}

.main-nav ul li a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-info {
  background-color: #a2ca28;
  padding-top: 70px;
}

.main-info h6 {
  font-size: 14px;
  font-weight: normal;
  color: #fd634e;
  margin: 0;
  text-transform: uppercase;
  padding-top: 56px;
}

.main-info h2 {
  font-size: 35px;
  font-weight: normal;
  color: #a2ca28;
  margin: 0;
  text-transform: uppercase;
}

.main-info p {
  font-size: 14px;
  color: #79a0be;
  padding: 0 45px 0 45px;
  line-height: 27px;
}

.main-info a {
  display: block;
  font-size: 20px;
  color: #a2ca28;
  margin-top: 20px;
}

.all-about .girl {
  float: right;
}

.fitness-first {
  background-color: #fff;
  text-align: center;
  height: 394px;
}

.fitness-first p {
  margin: 0 600px 0 0;
}

.fitness-first img {
  margin: 15px 0;
}

.love-your .hand-watch {
  float: left;
}

.your-body {
  background-color: #fff;
  text-align: center;
  height: 394px;
}

.your-body p {
  margin: 0 0 0 600px;
}

.your-body img {
  margin: 15px 0;
}

footer {
  background-color: #0d1119;
}

.footer {
  padding: 60px 0 60px 0;
}

.footer h4 {
  margin: 0;
  font-size: 15px;
  color: #fff;
}

.footer-info {
  text-align: left;
}

.footer-info p {
  color: #8297a7;
  font-size: 14px;
  padding-right: 120px;
}

