body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

#root {
    margin: 50px auto;
    padding: 20px 30px;
    width: 65%;
}

.film {
    display: inline-block;
    margin: 10px 40px 0 0;
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    box-shadow: 4px 5px 17px 0px rgba(50, 50, 50, 0.75)
}

.film img {
    width: 220px;
    height: 300px;
    margin-bottom: 10px;
}

.film h4 {
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0;
}

.film p {
    padding: 0;
    margin: 0;
}